.GameContainer * {
    margin: 0px;
    padding: 0px;
}

.GameContainer {
    position: relative;
    display: grid;
    text-align: center;
    margin-bottom: 30px;
}

.endGameWindow {
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(46, 46, 46);
}

.textContainer {
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
}

.item {
    border: 2px solid #3492eb;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
} 

.item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.top {
    border-top: hidden;
}

.item.bottom {
    border-bottom: hidden;
}

.item.right {
    border-right: hidden;
}

.item.left {
    border-left: hidden;
}

.item.winning {
    background-color: rgba(99, 160, 252, 0.3);
}

.item:hover {
    cursor: pointer;
}